<h1>Listing venues</h1>

<table>
  <tr>
    <th>Venue name</th>
    <th>Venue state</th>
    <th>Venue city</th>
    <th>Venue country</th>
    <th>Sbd name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Website</th>
    <th>Contact</th>
    <th>Whatever</th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%=h venue.venue_name %></td>
    <td><%=h venue.venue_state %></td>
    <td><%=h venue.venue_city %></td>
    <td><%=h venue.venue_country %></td>
    <td><%=h venue.sbd_name %></td>
    <td><%=h venue.phone %></td>
    <td><%=h venue.email %></td>
    <td><%=h venue.website %></td>
    <td><%=h venue.contact %></td>
    <td><%=h venue.whatever %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New venue', new_venue_path %>