<p>
  <b>Venue name:</b>
  <%=h @venue.venue_name %>
</p>

<p>
  <b>Venue state:</b>
  <%=h @venue.venue_state %>
</p>

<p>
  <b>Venue city:</b>
  <%=h @venue.venue_city %>
</p>

<p>
  <b>Venue country:</b>
  <%=h @venue.venue_country %>
</p>

<p>
  <b>Sbd name:</b>
  <%=h @venue.sbd_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @venue.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @venue.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @venue.website %>
</p>

<p>
  <b>Contact:</b>
  <%=h @venue.contact %>
</p>

<p>
  <b>Whatever:</b>
  <%=h @venue.whatever %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>